:root {
  --main-color: #004c91;
  --secondary-color: #ffffff;
  --accent-color: #008000;
}

body {
  background-color: var(--main-color);
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 1.7rem;
  color: var(--secondary-color);
}
