:root {
  --main-color: #004c91;
  --seccondary-color: #ffffff;
  --accent-color: #008000;
}

body {
  background-color: var(--main-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.form {
  background-color: var(--seccondary-color);
}
